@charset "utf-8";

/*---
基本
---*/
body{
    background-color: #f5f5f5;
}
header{
    text-align: center;
}

/*---
header
---*/
.header-p1{
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.header-h1{
    font-size: 3rem;
    margin-top: 0px;
}
.header-h2{
    font-size: 1rem;
    color: #aaa;
}
button{
    border-radius: 5px;
}
.header-btn1{
    background-color: black;
    color: #aaa;
    padding: 5px 20px;
}
.header-btn2{
    background-color: #f5f5f5;
    border-color: #aaa;
    padding: 5px 20px;
}

/*---
section
---*/
.section-h1 .section-h2{
    text-align: center;
}
.section-h1{
    font-size: 3rem;
}
.section-h2{
    font-size: 1rem;
    color: #aaa;
}
