@charset "utf-8";

/*---
基本
---*/
html{
    scroll-behavior: smooth;
}
body{
    background-color: #f5f5f5;
}
header{
    text-align: center;
    margin-bottom: 200px;
}

ul{
    display: flex;
    justify-content: center;
}
li{
    list-style: none;
    margin: 0 10px;
}
/*---
js
---*/
    html,
    body {
      height: 100%;
    }

    .swiper {
      width: 100%;
      height: 500px;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

/*---
header
---*/
.header-p1{
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.header-h1{
    line-height: 1;
    font-size: 4rem;
    margin-top: 0px;
}
.header-h2{
    font-size: 1rem;
    color: #aaa;
}
button{
    border-radius: 5px;
}
.header-btn1{
    background-color: black;
    color: #aaa;
    padding: 5px 20px;
}
.header-btn2{
    background-color: #f5f5f5;
    border-color: #aaa;
    padding: 5px 20px;
}

/*---
section1
---*/
.section1-h1{
    font-size: 2.5rem;
    margin-bottom: 0px;
    text-align: center;

}
.section1-h2{
    font-size: 1rem;
    color: #aaa;
    text-align: center;
}

/*---
section2
---*/
.section2{
    margin-bottom: 100px;
}
img{
    max-width: 100%;
    height: auto;
}
.section2-ul{
    padding: 10px;
	width: auto;
	height: auto;
    flex-wrap: wrap;
    gap: 20px;
    box-sizing: border-box;

}
.section2-li{
    border: 1px solid #aaa;
    border-radius: 10px;
    background-color: #f5f5f5;
    padding: 10px;
	width: 33%;
	height: auto;
    margin: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
}
/*---
.section2-h2{
    不必要かも
}
---*/
.section2-h3{
    color: #aaa;
    font-size: 0.9rem;
    font-style: italic;
}
.section2-h4{
    font-size: 0.9rem;

}
.section2-h5{
    font-size: 0.9rem;
    margin-right: 10px;
    background-color: #a9a9a9;
    border-radius: 5px;

    
}
.section2-h6{
    font-size: 0.9rem;

}
.section2-h6-2{
    font-size: 0.9rem;
    color: #aaa;
}

/*---
section3
---*/
.section3{
    background-color: #ddd;
    margin-bottom: 100px;
    padding-top:50px ;
    padding-bottom: 100px;
}
.section3 h2{
    text-align: center;
}
.section3 .section2-h6-2{
    text-align: center;
}
.section3-div{
    text-align: center;
}

/*---
section4
---*/
.section4{
    margin-bottom: 100px;
}

/*---
section5
---*/
.section5{
    margin-bottom: 100px;
    padding-bottom: 100px;
}
table{
    border-collapse: collapse;
    text-align: left;
    margin: 0 auto;
    
}
tr{
    border-bottom: solid 1px #ffee00;

}
th{
    padding: 20px 40px;
}
.section5-th1{
    background: #fff5e5;
}
td{
    padding: 20px 40px;
    color: #aaa;

}






/* レスポンシブ　PC用のCSSはメディアクエリの外に記述する */
@media screen and (max-width: 959px) {
    /* スタイル */
}